version: '3.8'

services:
  postgres:
    environment:
      POSTGRES_DB: powercoach
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    image: postgres:16-alpine
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
