@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/anton/files/anton-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/inter/files/inter-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2) format('woff2');
}
