@import 'tailwindcss';
@import '@powercoach/ui';

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes clip-out-ltr {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes clip-in-ltr {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@theme {
  --animate-fade-in: fade-in 0.2s ease-out forwards;
  --animate-clip-out-ltr: clip-out-ltr 0.4s ease-in-out forwards;
  --animate-clip-in-ltr: clip-in-ltr 0.4s ease-in-out forwards;
}
