name: API CI

on:
  push:
    branches:
      - main
    paths:
      - 'apps/api/**'
  pull_request:
    branches:
      - main
    paths:
      - 'apps/api/**'

jobs:
  CI:
    uses: ./.github/workflows/ci.yml
    with:
      turbo-filters: '--filter=@powercoach/api'
      workflow-name: API CI
    secrets:
      API_BASE_URL: ${{ secrets.GCR_API_URL }}
