name: CD

on:
  workflow_call:
    inputs:
      api-changed:
        description: Whether API has been modified
        type: boolean
        required: true
      api-hash:
        description: Hash of the API dist directory
        type: string
        required: true
      branch-slug:
        description: Slugified branch name of the pull request
        type: string
        required: true
      gcp-artifacts-repository:
        description: Google Cloud Platform artifacts repository
        type: string
        required: true
      gcp-domain:
        description: Google Cloud Platform URL
        type: string
        required: true
      gcp-project-id:
        description: Google Cloud Platform project id
        type: string
        required: true
      gcp-region:
        description: Google Cloud Platform region
        type: string
        required: true
      gcp-service:
        description: Google Cloud Platform service
        type: string
        required: true
      is-push:
        description: Whether it is a push event
        type: boolean
        required: true
      is-pr:
        description: Whether it is a pull request event
        type: boolean
        required: true
      manager-changed:
        description: Whether Manager has been modified
        type: boolean
        required: true
      manager-hash:
        description: Hash of the Manager dist directory
        type: string
        required: true
      node-version:
        description: Node.js version to use
        type: number
        required: true
      vcl-project:
        description: Vercel project
        type: string
        required: true
      vcl-team:
        description: Vercel team
        type: string
        required: true
    secrets:
      GCP_SERVICE_ACCOUNT:
        required: true
      GCP_WIF_PROVIDER:
        required: true
      VCL_TOKEN:
        required: true

env:
  TURBO_TELEMETRY_DISABLED: 1
  VERCEL_TELEMETRY_DISABLED: 1

jobs:
  CD:
    name: Deploy Api, Manager
    runs-on: ubuntu-latest
    steps:
      - name: Inputs
        shell: bash
        run: |
          {
            echo "## CD inputs"
            echo ""
            echo "| Key | Value |"
            echo "| --- | --- |"
            echo "| API changed | ${{ inputs.api-changed && '✅' || '❌' }} |"
            echo "| API hash | ${{ inputs.api-hash || '❌' }} |"
            echo "| Branch slug | ${{ inputs.branch-slug || '❌' }} |"
            echo "| Is push | ${{ inputs.is-push && '✅' || '❌' }} |"
            echo "| Is pull request | ${{ inputs.is-pr && '✅' || '❌' }} |"
            echo "| GCP artifacts repository | ${{ inputs.gcp-artifacts-repository || '❌' }} |"
            echo "| GCP domain | ${{ inputs.gcp-domain || '❌' }} |"
            echo "| GCP project id | ${{ inputs.gcp-project-id || '❌' }} |"
            echo "| GCP region | ${{ inputs.gcp-region || '❌' }} |"
            echo "| GCP service | ${{ inputs.gcp-service || '❌' }} |"
            echo "| Manager changed | ${{ inputs.manager-changed && '✅' || '❌' }} |"
            echo "| Manager hash | ${{ inputs.manager-hash || '❌' }} |"
            echo "| Node version | ${{ inputs.node-version || '❌' }} |"
            echo "| Vercel project | ${{ inputs.vcl-project || '❌' }} |"
            echo "| Vercel team | ${{ inputs.vcl-team || '❌' }} |"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        with:
          node-version: ${{ inputs.node-version }}

      # - name: Deploy API
      #   uses: ./.github/actions/cd-api
      #   id: api
      #   with:
      #     artifacts-repository: ${{ inputs.gcp-artifacts-repository }}
      #     project-id: ${{ inputs.gcp-project-id }}
      #     region: ${{ inputs.gcp-region }}
      #     service: ${{ inputs.gcp-service }}
      #     service-account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      #     tag: ${{ inputs.branch-slug }}
      #     wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}

      - name: Manager preview deploy
        uses: ./.github/actions/manager/deploy/preview
        if: ${{ inputs.is-pr }}
        id: manager-preview
        with:
          # api-url: ${{ steps.api.outputs.url }}
          api-url: 'https://ci-test-new---api-gkrxksmsua-ew.a.run.app/'
          branch-slug: ${{ inputs.branch-slug }}
          hash: ${{ inputs.manager-hash }}
          project: ${{ inputs.vcl-project }}
          team: ${{ inputs.vcl-team }}
          token: ${{ secrets.VCL_TOKEN }}

      - name: Manager production deploy
        uses: ./.github/actions/manager/deploy/production
        if: ${{ inputs.is-push }}
        id: manager-production
        with:
          # api-url: ${{ steps.api.outputs.url }}
          api-url: 'https://ci-test-new---api-gkrxksmsua-ew.a.run.app/'
          branch-slug: ${{ inputs.branch-slug }}
          hash: ${{ inputs.manager-hash }}
          project: ${{ inputs.vcl-project }}
          team: ${{ inputs.vcl-team }}
          token: ${{ secrets.VCL_TOKEN }}

      - name: Manager URL
        id: manager
        shell: bash
        run: echo "url=${{ steps.manager-preview.outputs.url || steps.manager-production.outputs.url }}" >> "$GITHUB_OUTPUT"

      - name: Outputs
        shell: bash
        run: |
          {
            echo "## CD outputs"
            echo ""
            echo "| Key | Value |"
            echo "| --- | --- |"
            echo "| API URL | https://ci-test-new---api-gkrxksmsua-ew.a.run.app/ |"
            echo "| Manager URL | ${{ steps.manager.outputs.url || '❌' }} |"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"
