name: CI

on:
  workflow_call:
    inputs:
      filters:
        description: Filters passed to pnpm turbo run commands
        type: string
        required: true
      name:
        description: Name of the calling workflow for concurrency grouping
        type: string
        required: true

jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    name: Lint, Format, Typecheck, Test, Build
    env:
      TURBO_FILTERS: ${{ inputs.filters }}
      TURBO_TELEMETRY_DISABLED: 1
      VITE_API_BASE_URL: 'http://localhost:8080'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        with:
          node-version: ${{ matrix.node-version }}

      - name: Lint
        run: pnpm lint $TURBO_FILTERS

      - name: Format
        run: pnpm format $TURBO_FILTERS

      - name: Typecheck
        run: pnpm typecheck $TURBO_FILTERS

      - name: Test
        run: pnpm test $TURBO_FILTERS

      - name: Build
        run: pnpm build $TURBO_FILTERS
