name: CI

on:
  workflow_call:
    inputs:
      filters:
        description: Filters passed to pnpm turbo run commands
        type: string
        required: true
      name:
        description: Name of the calling workflow for concurrency grouping
        type: string
        required: true
      node-version:
        description: Node.js version to use
        type: number
        required: true
    outputs:
      api-hash:
        description: Hash of the API source directory
        value: ${{ jobs.CI.outputs.api-hash }}
      manager-hash:
        description: Hash of the Manager source directory
        value: ${{ jobs.CI.outputs.manager-hash }}

jobs:
  CI:
    runs-on: ubuntu-latest
    name: Lint, Format, Typecheck, Test
    outputs:
      api-hash: ${{ steps.hash.outputs.api }}
      manager-hash: ${{ steps.hash.outputs.manager }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        with:
          node-version: ${{ inputs.node-version }}

      - name: Lint
        run: pnpm lint $TURBO_FILTERS

      - name: Format
        run: pnpm format $TURBO_FILTERS

      - name: Typecheck
        run: pnpm typecheck $TURBO_FILTERS

      - name: Test
        run: pnpm test $TURBO_FILTERS

      - name: Hash
        id: hash
        shell: bash
        run: |
          if [[ '${{ inputs.filters }}' == *api* ]]; then
            echo "api=${{ hashFiles('apps/api/src/**') }}" >> "$GITHUB_OUTPUT"
          fi

          if [[ '${{ inputs.filters }}' == *manager* ]]; then
            echo "manager=${{ hashFiles('apps/manager/src/**') }}" >> "$GITHUB_OUTPUT"
          fi

      - name: CI
        shell: bash
        run: |
          echo "\u2728 Lint... \u2705"
          echo "\u{1F485} Format... \u2705"
          echo "\u{1F6E1}\uFE0F Typecheck... \u2705"
          echo "\u{1F9EA} Test... \u2705"
          echo "\u0023\uFE0F\u20E3 API source hash: ${{ steps.hash.outputs.api }}"
          echo "\u0023\uFE0F\u20E3 Manager source hash: ${{ steps.hash.outputs.manager }}"
