name: Detect

on:
  workflow_call:
    outputs:
      branch-slug:
        description: Slugified branch name of the pull request
        value: ${{ jobs.detect.outputs.branch-slug }}
      ci-enabled:
        description: Whether CI should be ran
        value: ${{ jobs.detect.outputs.ci-enabled }}
      ci-filters:
        description: CI turbo filters
        value: ${{ jobs.detect.outputs.ci-filters }}
      cd-enabled:
        description: Whether CD should be ran
        value: ${{ jobs.detect.outputs.cd-enabled }}
      event-pr:
        description: Whether it is a pull request event
        value: ${{ jobs.detect.outputs.event-pr }}
      event-push:
        description: Whether it is a push event
        value: ${{ jobs.detect.outputs.event-push }}
      path-api:
        description: Whether API has been modified
        value: ${{ jobs.detect.outputs.path-api }}
      path-manager:
        description: Whether Manager has been modified
        value: ${{ jobs.detect.outputs.path-manager }}

jobs:
  detect:
    name: Detect
    runs-on: ubuntu-latest
    outputs:
      branch-slug: ${{ steps.branch.outputs.slug }}
      ci-enabled: ${{ steps.ci.outputs.enabled }}
      ci-filters: ${{ steps.ci.outputs.filters }}
      cd-enabled: ${{ steps.cd.outputs.enabled }}
      event-pr: ${{ steps.event.outputs.pr }}
      event-push: ${{ steps.event.outputs.push }}
      path-api: ${{ steps.path.outputs.api }}
      path-manager: ${{ steps.path.outputs.manager }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Modified paths
        uses: dorny/paths-filter@v3
        id: path
        with:
          filters: |
            api:
              - 'apps/api/**'
            manager:
              - 'apps/manager/**'

      - name: CI variables
        shell: bash
        id: ci
        run: |
          api="${{ steps.path.outputs.api }}"
          manager="${{ steps.path.outputs.manager }}"
          filters=""
          enabled="false"

          if [[ "$api" == "true" && "$manager" == "true" ]]; then
            filters="--filter=@powercoach/api --filter=@powercoach/manager"
          elif [[ "$api" == "true" ]]; then
            filters="--filter=@powercoach/api"
          elif [[ "$manager" == "true" ]]; then
            filters="--filter=@powercoach/manager"
          fi

          if [[ -n "$filters" ]]; then
            enabled="true"
          fi

          echo "filters=$filters" >> $GITHUB_OUTPUT
          echo "enabled=$enabled" >> $GITHUB_OUTPUT

      - name: Github event
        id: event
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "push=true" >> "$GITHUB_OUTPUT"
            echo "pr=false" >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "push=false" >> "$GITHUB_OUTPUT"
            echo "pr=true" >> "$GITHUB_OUTPUT"
          fi

      - name: CD variables
        id: cd
        shell: bash
        run: |
          ci="${{ steps.ci.outputs.enabled }}"

          if [[ "${{ steps.event.outputs.push }}" == "true" ]]; then
            echo "enabled=$ci" >> "$GITHUB_OUTPUT"
          elif [[ "${{ steps.event.outputs.pr }}" == "true" ]]; then
            safe="${{ github.event.pull_request.head.repo.full_name == github.repository }}"
            echo "enabled=$([[ "$ci" == "true" ]] && [[ "$safe" == "true" ]] && echo true || echo false)" >> "$GITHUB_OUTPUT"
          fi

      - name: Branch name (from PR)
        id: branch-name
        if: steps.event.outputs.pr == 'true'
        shell: bash
        run: echo "value=${{ github.head_ref }}" >> "$GITHUB_OUTPUT"

      - name: Branch name (from source branch)
        id: branch-name-source
        if: steps.event.outputs.push == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const { owner, repo } = context.repo;
            const { sha: commit_sha } = context;
            const prs = await github.rest.repos.listPullRequestsAssociatedWithCommit({ owner, repo, commit_sha });
            core.setOutput("value", prs.data[0]?.head.ref ?? "");

      - name: Branch slug
        id: branch
        shell: bash
        run: |
          branch="${{ steps.branch-name.outputs.value || steps.branch-name-source.outputs.value }}"
          [[ -z "$branch" ]] && exit 0
          slug="$(echo "$branch" | tr '[:upper:]' '[:lower:]')"
          slug="$(echo "$slug" | sed -E 's/[^a-z0-9]+/-/g')"
          slug="$(echo "$slug" | sed -E 's/^-*//')"
          slug="$(echo "$slug" | sed -E 's/-*$//')"
          echo "slug=$slug" >> "$GITHUB_OUTPUT"

      - name: Outputs
        shell: bash
        run: |
          {
            echo "## Detect outputs"
            echo ""
            echo "| Key | Value |"
            echo "| --- | --- |"
            echo "| Branch slug | ${{ steps.branch.outputs.slug || '❌' }} |"
            echo "| CI enabled | ${{ steps.ci.outputs.enabled == 'true' && '✅' || '❌' }} |"
            echo "| CI filters | ${{ steps.ci.outputs.filters || '❌' }} |"
            echo "| CD enabled | ${{ steps.cd.outputs.enabled == 'true' && '✅' || '❌' }} |"
            echo "| Event PR | ${{ steps.event.outputs.pr == 'true' && '✅' || '❌' }} |"
            echo "| Event push | ${{ steps.event.outputs.push == 'true' && '✅' || '❌' }} |"
            echo "| Path API | ${{ steps.path.outputs.api == 'true' && '✅' || '❌' }} |"
            echo "| Path Manager | ${{ steps.path.outputs.manager == 'true' && '✅' || '❌' }} |"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"
