name: Detect

on:
  workflow_call:
    outputs:
      branch-slug:
        description: Slugified branch name of the pull request
        value: ${{ jobs.detect.outputs.branch-slug }}
      ci:
        description: Whether CI should be ran
        value: ${{ jobs.detect.outputs.ci }}
      ci-filters:
        description: CI turbo filters
        value: ${{ jobs.detect.outputs.ci-filters }}
      ci-name:
        description: CI workflow name
        value: ${{ jobs.detect.outputs.ci-name }}
      cd:
        description: Whether CD should be ran
        value: ${{ jobs.detect.outputs.event-cd }}
      event-pr:
        description: Whether it is a pull request event
        value: ${{ jobs.detect.outputs.event-pr }}
      event-push:
        description: Whether it is a push event
        value: ${{ jobs.detect.outputs.event-push }}
      path-api:
        description: Whether API has been modified
        value: ${{ jobs.detect.outputs.path-api }}
      path-manager:
        description: Whether Manager has been modified
        value: ${{ jobs.detect.outputs.path-manager }}

jobs:
  detect:
    name: Detect
    runs-on: ubuntu-latest
    outputs:
      branch-slug: ${{ steps.slug.outputs.value || '❌' }}
      ci: ${{ steps.vars.outputs.ci || '❌' }}
      ci-filters: ${{ steps.vars.outputs.filters || '❌' }}
      ci-name: ${{ steps.vars.outputs.name || '❌' }}
      event-cd: ${{ steps.event.outputs.cd || '❌' }}
      event-pr: ${{ steps.event.outputs.pr || '❌' }}
      event-push: ${{ steps.event.outputs.push || '❌' }}
      path-api: ${{ steps.paths.outputs.api || '❌' }}
      path-manager: ${{ steps.paths.outputs.manager || '❌' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Modified paths
        uses: dorny/paths-filter@v3
        id: paths
        with:
          filters: |
            api:
              - 'apps/api/**'
            manager:
              - 'apps/manager/**'

      - name: CI variables
        shell: bash
        id: vars
        run: |
          api="${{ steps.paths.outputs.api }}"
          manager="${{ steps.paths.outputs.manager }}"

          filters=""
          name=""

          if [[ "$api" == "true" && "$manager" == "true" ]]; then
            filters="--filter=@powercoach/api --filter=@powercoach/manager"
            name="CI"
          elif [[ "$api" == "true" ]]; then
            filters="--filter=@powercoach/api"
            name="API CI"
          elif [[ "$manager" == "true" ]]; then
            filters="--filter=@powercoach/manager"
            name="Manager CI"
          fi

          if [[ -n "$filters" ]]; then
            echo "ci=true" >> "$GITHUB_OUTPUT"
          else
            echo "ci=false" >> "$GITHUB_OUTPUT"
          fi

          echo "filters=$filters" >> $GITHUB_OUTPUT
          echo "name=$name" >> $GITHUB_OUTPUT

      - name: Github event
        id: event
        shell: bash
        run: |
          ci="${{ steps.vars.outputs.ci }}"

          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "cd=$ci" >> "$GITHUB_OUTPUT"
            echo "push=true" >> "$GITHUB_OUTPUT"
            echo "pr=false" >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
            safe="${{ github.event.pull_request.head.repo.full_name == github.repository }}"
            echo "cd=$([[ "$ci" == "true" ]] && [[ "$safe" == "true" ]] && echo true || echo false)" >> "$GITHUB_OUTPUT"
            echo "push=false" >> "$GITHUB_OUTPUT"
            echo "pr=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Branch slug
        if: ${{ steps.event.outputs.pr == 'true' }}
        id: slug
        shell: bash
        run: |
          slug="$(echo "${{ github.head_ref }}" | tr '[:upper:]' '[:lower:]')"
          slug="$(echo "$slug" | sed -E 's/[^a-z0-9]+/-/g')"
          slug="$(echo "$slug" | sed -E 's/^-*//')"
          slug="$(echo "$slug" | sed -E 's/-*$//')"
          echo "value=$slug" >> "$GITHUB_OUTPUT"

      - name: Outputs
        shell: bash
        run: |
          {
            echo "### Detect outputs"
            echo ""
            echo "| Key | Value |"
            echo "| --- | --- |"
            echo "| Branch slug | ${{ steps.slug.outputs.value || '❌' }} |"
            echo "| CI enabled | ${{ steps.vars.outputs.ci == 'true' && '✅' || '❌' }} |"
            echo "| CI filters | ${{ steps.vars.outputs.filters || '❌' }} |"
            echo "| CI name | ${{ steps.vars.outputs.name || '❌' }} |"
            echo "| CD enabled | ${{ steps.event.outputs.cd == 'true' && '✅' || '❌' }} |"
            echo "| Event PR | ${{ steps.event.outputs.pr == 'true' && '✅' || '❌' }} |"
            echo "| Event push | ${{ steps.event.outputs.push == 'true' && '✅' || '❌' }} |"
            echo "| Path API | ${{ steps.paths.outputs.api == 'true' && '✅' || '❌' }} |"
            echo "| Path Manager | ${{ steps.paths.outputs.manager == 'true' && '✅' || '❌' }} |"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"
