name: Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'apps/api/**'
      - 'apps/manager/**'
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
  actions: read
  contents: read

env:
  TURBO_TELEMETRY_DISABLED: 1
  VERCEL_TELEMETRY_DISABLED: 1

jobs:
  ci-cd:
    name: CI & CD
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/core/install
      - uses: ./.github/actions/core/context
        id: context

      - uses: ./.github/actions/core/ci
        if: steps.context.outputs.ci-action == 'true'
        with:
          turbo-filter: ${{ steps.context.outputs.turbo-filter }}

      - uses: ./.github/actions/core/cd/manager
        if: steps.context.outputs.cd-action == 'true'
        env:
          VCL_PROJECT: ${{ vars.VCL_PROJECT }}
          VCL_TEAM: ${{ vars.VCL_TEAM }}
          VCL_TOKEN: ${{ secrets.VCL_TOKEN }}
          VITE_API_BASE_URL: 'https://ci-test-new---api-gkrxksmsua-ew.a.run.app'
        with:
          issue-number: ${{ steps.context.outputs.issue-number }}
          issue-slug: ${{ steps.context.outputs.issue-slug }}
          manager-hash: ${{ steps.context.outputs.manager-hash }}
          pull-event: ${{ steps.context.outputs.pull-event }}
          push-event: ${{ steps.context.outputs.push-event }}
