name: Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - '.github/**'
      - 'apps/api/**'
      - 'apps/manager/**'
    types:
      - closed
      - edited
      - reopened
      - opened
      - synchronize

permissions:
  actions: read
  contents: read
  id-token: write
  statuses: write

env:
  TURBO_TELEMETRY_DISABLED: 1
  VERCEL_TELEMETRY_DISABLED: 1

jobs:
  ci-cd:
    name: CI & CD
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/core/install
      - uses: ./.github/actions/core/context
        id: context

      - uses: ./.github/actions/core/status
        if: steps.context.outputs.pull-event == 'true' && steps.context.outputs.close-event == 'false'

      - uses: ./.github/actions/core/ci
        if: steps.context.outputs.ci-action == 'true'
        with:
          turbo-filter: ${{ steps.context.outputs.turbo-filter }}

      - uses: ./.github/actions/core/cd/api
        if: steps.context.outputs.cd-action == 'true'
        env:
          GCP_ARTIFACTS_REPOSITORY: ${{ vars.GCP_ARTIFACTS_REPOSITORY }}
          GCP_DOMAIN: ${{ vars.GCP_DOMAIN }}
          GCP_PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
          GCP_REGION: ${{ vars.GCP_REGION }}
          GCP_SERVICE: ${{ vars.GCP_SERVICE }}
          GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          GCP_WIF_PROVIDER: ${{ secrets.GCP_WIF_PROVIDER }}
        with:
          api-sha: ${{ steps.context.outputs.api-sha }}
          branch-sha: ${{ steps.context.outputs.branch-sha }}
          deploy-target: ${{ steps.context.outputs.deploy-target }}
          pull-event: ${{ steps.context.outputs.pull-event }}
          pull-slug: ${{ steps.context.outputs.pull-slug }}
          push-event: ${{ steps.context.outputs.push-event }}

      - uses: ./.github/actions/core/cd/manager
        if: steps.context.outputs.cd-action == 'true'
        env:
          GCP_DOMAIN: ${{ vars.GCP_DOMAIN }}
          GCP_SERVICE: ${{ vars.GCP_SERVICE }}
          VCL_PROJECT: ${{ vars.VCL_PROJECT }}
          VCL_TEAM: ${{ vars.VCL_TEAM }}
          VCL_TOKEN: ${{ secrets.VCL_TOKEN }}
        with:
          branch-sha: ${{ steps.context.outputs.branch-sha }}
          deploy-target: ${{ steps.context.outputs.deploy-target }}
          manager-sha: ${{ steps.context.outputs.manager-sha }}
          pull-event: ${{ steps.context.outputs.pull-event }}
          pull-slug: ${{ steps.context.outputs.pull-slug }}
          push-event: ${{ steps.context.outputs.push-event }}

      - name: Prune API
        uses: ./.github/actions/core/prune/api
        if: steps.context.outputs.prune-action == 'true'
        env:
          GCP_ARTIFACTS_REPOSITORY: ${{ vars.GCP_ARTIFACTS_REPOSITORY }}
          GCP_PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
          GCP_REGION: ${{ vars.GCP_REGION }}
          GCP_SERVICE: ${{ vars.GCP_SERVICE }}
          GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          GCP_WIF_PROVIDER: ${{ secrets.GCP_WIF_PROVIDER }}
        with:
          branch-sha: ${{ (steps.context.outputs.pull-event == 'true' && steps.context.outputs.branch-sha) || (steps.context.outputs.push-event == 'true' && steps.context.outputs.commit-branch-sha) }}
          pull-slug: ${{ (steps.context.outputs.pull-event == 'true' && steps.context.outputs.pull-slug) || (steps.context.outputs.push-event == 'true' && steps.context.outputs.commit-pull-slug) }}
          google-auth: ${{ steps.context.outputs.close-event }}

      - name: Prune Manager
        uses: ./.github/actions/core/prune/manager
        if: steps.context.outputs.prune-action == 'true'
        env:
          VCL_TOKEN: ${{ secrets.VCL_TOKEN }}
        with:
          branch-sha: ${{ (steps.context.outputs.pull-event == 'true' && steps.context.outputs.branch-sha) || (steps.context.outputs.push-event == 'true' && steps.context.outputs.commit-branch-sha) }}
