name: Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'apps/api/**'
      - 'apps/manager/**'
  workflow_dispatch:
    inputs:
      api:
        description: Should rollback API
        type: boolean
        required: true
      manager:
        description: Should rollback Manager
        type: boolean
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read
  id-token: write

jobs:
  detect:
    if: github.event_name != 'workflow_dispatch'
    uses: ./.github/workflows/detect.yml

  CI:
    needs: [detect]
    uses: ./.github/workflows/ci.yml
    if: >
      github.event_name != 'workflow_dispatch' &&
      needs.detect.outputs.ci == 'true'
    with:
      filters: ${{ needs.detect.outputs.ci-filters }}
      name: ${{ needs.detect.outputs.ci-name }}
      node-version: 20

  CD:
    needs: [detect, CI]
    uses: ./.github/workflows/cd.yml
    if: >
      github.event_name != 'workflow_dispatch' &&
      needs.detect.outputs.cd == 'true' &&
      needs.CI.result == 'success'
    with:
      api-changed: ${{ needs.detect.outputs.path-api == 'true' }}
      api-hash: ${{ needs.CI.outputs.api-hash }}
      branch-slug: ${{ needs.detect.outputs.branch-slug }}
      gcp-artifacts-repository: ${{ vars.GCP_ARTIFACTS_REPOSITORY }}
      gcp-domain: ${{ vars.GCP_DOMAIN }}
      gcp-project-id: ${{ vars.GCP_PROJECT_ID }}
      gcp-region: ${{ vars.GCP_REGION }}
      gcp-service: ${{ vars.GCP_SERVICE }}
      is-pr: ${{ needs.detect.outputs.event-pr == 'true' }}
      is-push: ${{ needs.detect.outputs.event-push == 'true' }}
      manager-changed: ${{ needs.detect.outputs.path-manager == 'true' }}
      manager-hash: ${{ needs.CI.outputs.manager-hash }}
      vcl-project: ${{ vars.VCL_PROJECT }}
      vcl-team: ${{ vars.VCL_TEAM }}
      node-version: 20
    secrets:
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      GCP_WIF_PROVIDER: ${{ secrets.GCP_WIF_PROVIDER }}
      VCL_TOKEN: ${{ secrets.VCL_TOKEN }}

  rollback:
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/rollback.yml
    with:
      api: ${{ github.event.inputs.api }}
      gcp-artifacts-repository: ${{ vars.GCP_ARTIFACTS_REPOSITORY }}
      gcp-domain: ${{ vars.GCP_DOMAIN }}
      gcp-project-id: ${{ vars.GCP_PROJECT_ID }}
      gcp-region: ${{ vars.GCP_REGION }}
      gcp-service: ${{ vars.GCP_SERVICE }}
      manager: ${{ github.event.inputs.manager }}
      vcl-project: ${{ vars.VCL_PROJECT }}
      vcl-team: ${{ vars.VCL_TEAM }}
    secrets:
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      GCP_WIF_PROVIDER: ${{ secrets.GCP_WIF_PROVIDER }}
      VCL_TOKEN: ${{ secrets.VCL_TOKEN }}
