name: Manager CD

on:
  workflow_run:
    workflows: ['Manager CI']
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.workflow_run.head_branch }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    env:
      TURBO_TELEMETRY_DISABLED: 1
      TURBO_FILTERS: '--filter=@powercoach/manager'
      VERCEL_TELEMETRY_DISABLED: 1
      VITE_API_BASE_URL: ${{ secrets.GCR_API_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Initialize
        uses: ./.github/actions/init
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: pnpm turbo run build $TURBO_FILTERS

      - name: Add workspace binaries to PATH
        run: echo "PATH=${{ github.workspace }}/apps/manager/node_modules/.bin:${{ github.workspace }}/node_modules/.bin:$PATH" >> "$GITHUB_ENV"

      - name: Vercel link
        working-directory: apps/manager/dist
        run: vercel link --project powercoach-manager --yes --token ${{ secrets.VCL_TOKEN }}

      - name: Deploy preview
        if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'pull_request' && github.event.workflow_run.pull_requests[0].base.ref == 'main' }}
        uses: ./.github/actions/manager-cd-preview
        with:
          vercel-token: ${{ secrets.VCL_TOKEN }}

      - name: Deploy production
        if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' && github.event.workflow_run.head_branch == 'main' }}
        uses: ./.github/actions/manager-cd-production
        with:
          vercel-token: ${{ secrets.VCL_TOKEN }}
