name: Prune

on:
  pull_request:
    paths:
      - 'apps/api/**'
      - 'apps/manager/**'
    types:
      - closed

permissions:
  actions: read
  contents: read

env:
  TURBO_TELEMETRY_DISABLED: 1
  VERCEL_TELEMETRY_DISABLED: 1

jobs:
  prune:
    name: Prune
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/core/install
      - uses: ./.github/actions/core/context
        id: context

      - name: Prune Manager
        uses: ./.github/actions/core/prune/manager
        env:
          VCL_TOKEN: ${{ secrets.VCL_TOKEN }}
        with:
          issue-number: ${{ steps.context.outputs.issue-number }}
