name: Rollback

on:
  workflow_dispatch:
    inputs:
      api:
        description: Rollback API
        type: boolean
        default: false
      manager:
        description: Rollback Manager
        type: boolean
        default: false

permissions:
  actions: read
  contents: read
  id-token: write

env:
  TURBO_TELEMETRY_DISABLED: 1
  VERCEL_TELEMETRY_DISABLED: 1

jobs:
  rollback:
    name: Rollback
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/core/install

      - name: Restrict to main branch
        id: main-sha
        shell: bash
        run: |
          if ! -e main "${{ github.ref_name }}"; then
            echo "âŒ Error: rectricted to main branch"
            exit 1
          else
            echo "value=$(sumify main)" >> "$GITHUB_OUTPUT"
          fi

      - name: Rollback API
        if: inputs.api
        uses: ./.github/actions/core/rollback/api
        env:
          GCP_ARTIFACTS_REPOSITORY: ${{ vars.GCP_ARTIFACTS_REPOSITORY }}
          GCP_PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
          GCP_REGION: ${{ vars.GCP_REGION }}
          GCP_SERVICE: ${{ vars.GCP_SERVICE }}
          GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          GCP_WIF_PROVIDER: ${{ secrets.GCP_WIF_PROVIDER }}
        with:
          main-sha: ${{ steps.main-sha.outputs.value }}

      - name: Rollback Manager
        if: inputs.manager
        uses: ./.github/actions/core/rollback/manager
        env:
          VCL_PROJECT: ${{ vars.VCL_PROJECT }}
          VCL_TEAM: ${{ vars.VCL_TEAM }}
          VCL_TOKEN: ${{ secrets.VCL_TOKEN }}
        with:
          main-sha: ${{ steps.main-sha.outputs.value }}
